*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans HK', sans-serif;
}
header{
    text-align: center;
    margin-top: 8vh ;
}

.container{
    width: 60vh;
    height: 60vh;
    text-align: center;
    margin: auto;
    margin-top: 90px;
}
.square{
    text-align: center;
    height: 15vh;
    width: 15vh;
    margin: 1vh;
    display: inline-block;
    vertical-align: top;
    line-height: 140px;
    background: rgba(240,232,211,1);
    background: -moz-linear-gradient(45deg, rgba(240,232,211,1) 0%, rgba(145,199,167,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(240,232,211,1)), color-stop(100%, rgba(145,199,167,1)));
    background: -webkit-linear-gradient(45deg, rgba(240,232,211,1) 0%, rgba(145,199,167,1) 100%);
    background: -o-linear-gradient(45deg, rgba(240,232,211,1) 0%, rgba(145,199,167,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(240,232,211,1) 0%, rgba(145,199,167,1) 100%);
    background: linear-gradient(45deg, rgba(240,232,211,1) 0%, rgba(145,199,167,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e8d3', endColorstr='#91c7a7', GradientType=1 );
}
.square:hover{
    background-color: blue;
}
.jugado{
    font-size: 10vh;
    margin: auto;
    line-height: normal;
}